{% extends 'app/base.html' %}
{% load static %}
{% block title %}Изменить Пароль{% endblock title %}

{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Добро Пожаловать {{request.user.username|capfirst}}</h3>
  <div class="col-sm-2 border-end">
    <ul class="list-unstyled">
      <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Пароль Изменен</a></li>  
    </ul>
  </div>   
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Пароль Успешно Изменен!</h3>
    
    <p style="text-align:center"><iframe style="display: block;" src="https://media.tenor.com/0EflySmYSuAAAAAj/check-mark-button-joypixels.gif" width="200" height="200"  frameBorder="0" class="graphy-embed" allowfullscreen></iframe></p>
  </div>
  </div>
 </div>  
</div> 
{% endblock main-content %}